* {
    box-sizing: border-box;
}
:root {
    --black: #000;
    --blackish: #110A06;
    --brownish: #25201f;
    --black-grey: #1C1816;
    --black-brown: #261A13;
    --grey-yellow: #795C03;
    --dark-yellow: #F2B705;
    --orange-yellow: #FFA200;
    /* --light-yellow: #F2DA51;
    --corn: cornsilk;
    --white: #fff; */
}
/*--fontstyle--*/

h1 {
    font-family: 'Oswald', sans-serif;
}
h2, h3, h4, h5, p, a, nav {
    font-family: 'Lato', sans-serif;
}
h1 {
    font-size: 1.25em;
}
/* h2 {
    font-size: 1.125em;
} */
h2, h3, a {
    font-size: 1.1em;
}
h4, p {
    font-size: 0.875em;
}
h1, h2, h3, h4, h5, nav, a, p::first-letter {
    text-transform: capitalize;
}


/* Homepage */

/* header */
body {
    background-color: var(--black-grey);
    margin: 0;
}
a {
    text-decoration: none;
    color: #F2B705;
    font-weight: bolder;
}
.header-home {
    background-image: url(../images/pictures/curtain.jpg);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-logs {
    display: flex;
}
.header-btns {
    display: flex;
    align-self: flex-end;
}
.logo {
    background-color: #F2B705;
    margin: 10px;
    max-width: 30em;
    border-radius: 6px;
}


.header-btns2 {
    display: flex;
    justify-content: space-between;
}
.header-home2 {
    background-color: #110A06;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.hamburgernav {
    display: flex;
    justify-content: space-between;
}
label {
    color: #F2B705;
    display: none;
    margin-right: 10px;
    font-size: 1.125em;
}
#hamburgermenu {
    display: none;
}

.logo2 {
    background-color: #F2B705;
    margin: 10px;
    max-width: 20em;
    border-radius: 6px;
}
.searchbox {
    display: flex;
    margin: 10px;
    margin-right: 15em;
}
.search {
    border: none;
    min-width: 300px;
    border-radius: 6px 0px 0px 6px;
    padding: 5px;
}
.search-btn {
    background-image: linear-gradient(var(--orange-yellow), var(--dark-yellow), var(--orange-yellow));
    border-radius: 0px 6px 6px 0px;
    padding: 5px 15px;
}

.btn {
    background-image: linear-gradient(var(--orange-yellow), var(--dark-yellow), var(--orange-yellow));
    margin: 10px;
    border-radius: 6px;
    padding: 5px 15px;
}
.btntext {
    color: #25201f;
}
.btn:hover {
    cursor: pointer;
}
.big-btn {
    background-image: linear-gradient(var(--orange-yellow), var(--dark-yellow), var(--orange-yellow));
    margin: 20px;
    border-radius: 6px;
    padding: 15px 60px;
}
.big-btn:hover{
    cursor: pointer;
}
.usericon {
    color: #F2B705;
    font-size: 30px;
    margin: 0;
}

/* nav */


nav {
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
}
.nav-item, .current {
    color: #FDFCE2;
    font-size: 1em;
    padding-right: 30px;
}
.current {
    text-decoration: underline;
}

/* Main homepages */

.fp-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
.title {
    color: #FDFCE2;
    margin: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title2 {
    /* font-size: 1.125em; */
    color: #FDFCE2;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fp-title {
    margin: 0;
    font-size: 40px;
}
h2, h3, h4, p {
    color: #FDFCE2;
}
.teaser {
    max-width: 30em;
    margin-right: 10px;
    border-radius: 6px;
}
.scrolling-wrapper {
    display: flex;
    overflow-x: scroll;
}
.main-teaser {
    background-color: #110A06;
    padding: 10px;
    max-width: 70em;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.fpmain-title {
    align-self: center;
}
.scrolling-wrapper {
    max-width: 70em;
    display: flex;
    overflow-x: scroll;
}
.filmtitle {
    color: #FDFCE2; 
}
.ratings {
    color: #F2B705;
    font-size: 16px; 
}
.dots {
    color: #FDFCE2;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em;
}
.dot {
    margin: 5px;
}
.account-section {
    background-color: #110A06;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 20px;
}
.fp-account {
    background-color: #110A06;
    margin: 10px;
    width: 35em;
    display: flex;
    flex-direction: row-reverse;
}
.fp-account-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.account-wrapper {
    display: flex;
}

/* footer */
footer {
    background-color: #110A06;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer-content {
    color: #F2B705;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-item {
    margin: 10px;
}

.filminfo {
    /* background-color: #110A06; */
    margin: 1em;
}
.film-img {
    max-width: 20em;
    margin-right: 10px;
    border-radius: 6px;
}
.film-wrapper {
    max-width: 70em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.genre-all {
    max-width: 15.75em;
    border-radius: 6px;
}

/* filmdetails page */

.filmpage {
    background-color: #110A06;
    width: 55em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.film {
    max-width: 37.5em;
    border-radius: 10px;
    border: 1px solid var(--black);
    -moz-box-shadow: 0px 3px 6px var(--black);
    -webkit-box-shadow: 0px 3px 6px var(--black);
    box-shadow: 0px 3px 6px var(--black);
}
.view-film {
    position: relative;
}
.film-btns {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.filmpage-content {
    /* background-color: #110A06; */
    width: 37.5em;
}
.description {
    display: flex;
    justify-content: space-between;
}
.plot {
    width: 20em;
}

/* account page */
.profile {
    margin-top: 20px;
    display: flex;
}
.user {
    padding: 20px;
}
.memes {
    display: flex;
    justify-content: center;
}
.programmer {
    width: 40em;
}

.loading-container {
    display: flex;
    justify-content: center;
}
.loader {
    border: 10px solid #110A06;
    border-top: 10px solid var(--dark-yellow);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .test {
      display: flex;
  }

@media screen and (max-width: 1100px) {
    h1 {
        font-size: 1.125em;
    }
    h2 {
        font-size: 1em;
    }
    h3 {
        font-size: 0.875em;
    }
    h4, p {
        font-size: 0.75em;
    }
    .fp-title {
        font-size: 30px;
    }
    .fp-account {
        width: 25em;
        display: flex;
        flex-direction: row-reverse;
    }
    
    label {
        display: block;
        cursor: pointer;
    }
    .searchbox {
        margin-right:10px;
    }
    .header-btns2 {
        flex-direction: column;
        align-items: center;
    }
    .usericon2, .btn2 {
        margin: 10px;
    }
    .hamburgernav {
        background-color: #110A06;
        right: 0%;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        position: absolute;
        top: 125px;
        height: 155px;
        width: auto;
        z-index: 10;
    }
    #hamburgermenu:checked ~ section {
        display: flex;
    }
    .main-teaser {
        max-width: 50em;
    }
    .film-img {
        max-width: 10em;
        margin-right: 10px;
    }
    .filmpage {
        width: 40em;
    }
}

@media screen and (max-width: 700px) {
    h1 {
        font-size: 1.1em;
    }
    h2 {
        font-size: 1em;
    }
    h3 {
        font-size: 0.875em;
    }
    h4, p {
        font-size: 0.75em;
    }
    .title{
        margin: 40px;
    }
    .fp-title {
        font-size: 16px;
    }
    .hamburgernav {
        top: 74.6px;
    }
    /* header style */
    .header-btns {
        display: flex;
        align-self: center;
    }
    .logo {
      max-width: 20em;  
    }
    .logo2 {
        max-width: 10em;
    }
    /* nav style */
    nav {
        justify-content: center;
    }
    .nav-item, .current {
        font-size: 1em;
    }
    /* main style */
    .main-teaser {
        max-width: 20em;
    }
    .film-img {
        max-width: 5em;
        margin-right: 5px;
    }
    .genre-all {
        max-width: 8em;
    }
    .ratings {
        font-size: 8px; 
    }
    .dots {
        font-size: 6px;
    }
    .teaser {
        max-width: 20em;
    }
    .profile-img {
        max-width: 10em;
    }
    .fp-account {
        width: 15em;
        flex-direction: column-reverse;
        align-items: center;
    }
    .account-wrapper {
        display: flex;
        flex-direction: column;
    }
    /* .filmpage {
        width: 40em;
    } */
    .film {
        width: 25em;
    }
    .filmpage-content {
        width: 25em;
    }
    .description {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .plot {
        width: 10em;
    }
    .footer-item {
        font-size: 0.875em;
    }
    .programmer {
        width: 20em;
    }
    .filmpage {
        width: 30em;
    }
    .viewer-reviews {
        width: 25em;
    }

}